<mat-toolbar class="footer-container">
    <div class="footer-content">
        <div class="footer-section left">
            <h3>À propos</h3>
            <p>Application de gestion de parking rapide et efficace.</p>
        </div>

        <div class="footer-section center">
            <h3>Nous contacter</h3>
            <p>Email: <a href="mailto:support@parking-app.com">support</a></p>
            <p>Tél: <a href="tel:+33123456789">+33 1 23 45 67 89</a></p>
        </div>

        <div class="footer-section center">
            <h3>Suivez-nous</h3>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank">
                    <img src="assets/icons/facebook-icon.svg" alt="Facebook">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="assets/icons/twitter-icon.svg" alt="Twitter">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="assets/icons/instagram-icon.svg" alt="Instagram">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2024 Park-in. Tous droits réservés.
    </div>
</mat-toolbar>
