/* Ajouter un background sur toute la page sauf le footer et la navbar */
.login-page {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteneur du formulaire */
.login-container {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9); /* Arrière-plan blanc semi-transparent */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Boutons de connexion */
.full-width {
    width: 100%;
    margin-top: 10px;
}

/* Centrage des textes */
.text-center {
    text-align: center;
    margin-top: 15px;
}

/* Style des icônes sociales */
.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Contenu du bouton */
.button-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Bouton de connexion standard */
.black-button {
    background-color: green !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

/* Bouton Google rouge */
.google-button {
    background-color: #DB4437 !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

/* Bouton Facebook bleu */
.facebook-button {
    background-color: #1877F2 !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}
