<div class="login-page" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <mat-card class="login-container">
        <mat-card-title>Connexion</mat-card-title>
        
        <form [formGroup]="connexion">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" name="email" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="mdp" name="password" required>
            </mat-form-field>

            <button mat-raised-button class="black-button full-width" type="submit">
                <div class="button-content">
                    <img src="assets/lock-icon.jpg" alt="lock" class="social-icon">
                    <a mat-button (click)="Seconnecter()">Se connecter</a>
                </div>
            </button>
        </form>

        <p class="text-center">Ou connectez-vous avec :</p>

        <div class="social-buttons">
            <button mat-raised-button class="google-button full-width" (click)="signInWithGoogle()">
                <div class="button-content">
                    <img src="assets/logogoogle.png" alt="Google" class="social-icon">
                    <span>Google</span>
                </div>
            </button>

            <button mat-raised-button class="facebook-button full-width" (click)="signInWithFacebook()">
                <div class="button-content">
                    <img src="assets/facebook.png" alt="Facebook" class="social-icon">
                    <span>Facebook</span>
                </div>
            </button>
        </div>

        <p class="text-center">
            Pas encore de compte ? <a mat-button (click)="Sinscrire()">S'inscrirer</a>
        </p>    
    </mat-card>
</div>
