.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.full-width {
    width: 100%;
    margin-top: 10px;
}

.text-center {
    text-align: center;
    margin-top: 15px;
}

.social-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Style du bouton de connexion standard */
.black-button {
    background-color: green !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

/* Bouton Google rouge */
.google-button {
    background-color: #DB4437 !important; /* Rouge Google */
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

/* Bouton Facebook bleu */
.facebook-button {
    background-color: #1877F2 !important; /* Bleu Facebook */
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

/* Style des icônes sociales */
.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
