/* Container layout */
.booking-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  width: 100%;
  max-width: 100vw; /* Utilise toute la largeur de l'écran */
  margin: 0; /* Supprime les marges latérales */
}

/* Left section styles */
.left-section {
  flex: 1;
  max-width: 50%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Right section styles */
.right-section {
  flex: 1;
  max-width: 50%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Parking image adjustments */
.parking-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Parking plan image */
.plan-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Form inputs container */
.input-container {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

/* Input fields */
.input-field {
  flex: 1;
  max-width: 200px;
}

/* Button styling */
.full-width {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.full-width:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 1200px) {
  .booking-container {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    max-width: 100%;
  }

  .parking-image,
  .plan-image {
    max-width: 100%;
  }
}

/*oth*/
.input-container {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0;
}

app-spot-book {
  display: block;
  width: 100%;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

