<div class="booking-container">
  <div class="left-section">
    <img [src]="selectedParking.imageUrl" alt="Parking image" class="parking-image">
    <div class="parking-info">
      <h1 class="parking-title">{{ selectedParking.nom }}</h1>
      <p class="parking-address"><i class="fas fa-map-marker-alt"></i> {{ selectedParking.adresse }}</p>
      <p class="parking-price"><i class="fas fa-euro-sign"></i> Tarif: <strong>{{ selectedParking.tarif }} €/heure</strong></p>
      <p class="parking-website">
        <i class="fas fa-link"></i> Site web:
        <a [href]="selectedParking.url" target="_blank">{{ selectedParking.url }}</a>
      </p>

    </div>

    <div class="parking-plan">
      <h3>Plan du parking</h3>
      <img src="assets/conception_flux.jpg" alt="Plan du parking" class="plan-image">
    </div>
  </div>

  <div class="right-section">
    <mat-card class="recapitulatif-selection">
      <mat-card-header>
        <mat-card-title>📝 Récapitulatif de votre sélection</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Parking: <strong>{{ selectedParking.nom }}</strong></p>
        <p>Tarif: <strong>{{ selectedParking.tarif }} €/heure</strong></p>
        <p>Adresse: <strong>{{ selectedParking.adresse }}</strong></p>
      </mat-card-content>
    </mat-card>

    <mat-card class="booking-card">
      <mat-card-header>
        <mat-card-title>📍 Sélectionnez votre place</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="input-container">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Bloc</mat-label>
            <mat-select [(value)]="selectedBloc" (selectionChange)="onBlocChange()">
              <mat-option *ngFor="let bloc of blocs" [value]="bloc">{{ bloc }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Étage</mat-label>
            <mat-select [(value)]="selectedEtage" [disabled]="!etages.length" (selectionChange)="onEtageChange()">
              <mat-option *ngFor="let etage of etages" [value]="etage">{{ etage }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Aile</mat-label>
            <mat-select [(value)]="selectedAile" [disabled]="!ailes.length" (selectionChange)="onAileChange()">
              <mat-option *ngFor="let aile of ailes" [value]="aile">{{ aile }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Place</mat-label>
            <mat-select [(value)]="selectedPlace" [disabled]="!places.length">
              <mat-option *ngFor="let place of places" [value]="place">{{ place }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <mat-checkbox [(ngModel)]="autoAssign" (change)="handleAutoAssign()">Attribution automatique de la place</mat-checkbox>

        <ng-template #authDialog let-data>
          <h2 mat-dialog-title>Authentification requise</h2>
          <mat-dialog-content>
            <p>{{ data.message }}</p>
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>OK</button>
          </mat-dialog-actions>
        </ng-template>
        <app-spot-book 
          [structuredData]="structuredData"
          (placeSelected)="onPlaceSelected($event)">
        </app-spot-book>

        <button mat-raised-button color="primary" class="full-width" (click)="verifierAuthentification()">
          Valider et payer
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="isLoading" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
