<h1>List de parking</h1>
<div class="parking-list">
  <div *ngFor="let parking of parkings" class="parking-card">
    <img [src]="parking.imageUrl" alt="Parking image" class="parking-image">

    <div class="parking-info">
      <h2>{{ parking.nom }} <span class="parking-type">({{ parking.type }})</span></h2>
      <p class="address">{{ parking.adresse }}</p>
      <div class="distance">
        Distance {{ parking.distance }}
      </div>

      <div class="parking-features">
        <div *ngIf="parking.pmr" class="pmr">
          <img src="assets/icons/pmr.jpg" class="icon" alt="Handicap accessible">
        </div>
        <div class="height">
          <img src="assets/icons/height.png" class="icon" alt="Height restriction">
          <span>{{ parking.hauteur }} m</span>
        </div>
      </div>

    </div>

    <div class="parking-actions">
      <p class="price">{{ parking.tarif }} €/heure</p>
      <button class="btn btn-primary">LOUER</button>
    </div>
  </div>
</div>
