<mat-toolbar color="primary">
    <div class="navbar-left">
        <img src="assets/logo.png" alt="Park-In Logo" class="logo">
        <span class="brand-name">Park-In</span>
    </div>
    <span class="spacer"></span>
    <div class="navbar-right">
        <a mat-button routerLink="/" routerLinkActive="active-link">Accueil</a>
        <a mat-button routerLink="/login" routerLinkActive="active-link">Se connecter</a>
        <a mat-raised-button color="accent" routerLink="/register" routerLinkActive="active-link">S'inscrire</a>
    </div>
</mat-toolbar>
