.search-form {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Ensure form fields take full width inside grid */
.full-width {
  width: 100%;
}

button {
  white-space: nowrap;
  padding: 12px 30px;
  background-color: #2A9134;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #217A29;
  transform: scale(1.05);
}
