/* Search form container styles */
.search-form {
  max-width: 1200px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 15px; /* Space between inputs */
  flex-wrap: wrap; /* Ensures responsiveness on smaller screens */
}

/* Large input for Lieu de stationnement */
.input-large {
  flex: 2;  /* Takes more space */
  min-width: 220px;
}

/* Medium input for Date début and Date fin */
.input-medium {
  flex: 1;  /* Medium size */
  min-width: 200px;
}

/* Small input for Heure début and Heure fin */
.input-small {
  flex: 0;
  min-width: 150px;
}

/* Ensure input elements take full width */
.p-calendar, .p-inputtext {
  width: 100%;
}

.input-button{
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius : 27px;
}

button{
  border-radius: 25px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .search-form {
    flex-direction: column; /* Stack items on smaller screens */
  }

  .input-large, .input-medium, .input-small {
    width: 100%; /* Full width for all elements on smaller screens */
  }
}
