.title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #333;
  }
  
  .parking-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .parking-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #f9f9f9;
  }

  .btn-disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
  }
  
  
  .parking-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
  
  .parking-info {
    flex: 1;
    margin-left: 20px;
  }
  
  .reservation-date {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .parking-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #3e9247;
    color: white;
  }
  
  .btn-disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }
  
  .error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }
  